section
  section
    h2 Processo Atual:
    p  Os numeros do processo atual é falha a cada módulo por falta de feedback do cliente.
  section
    h1 Requisitos Atual:
    ul
      li.fragment Marca uma reunião com o cliente.
      li.fragment Conforme for conversando vou desenhando protótipos simples e exemplos do que ele está falando.
      li.fragment Levanto gastos, prazos, mão de obra necessária.
      li.fragment Marco uma reunião com a minha equipe para passar o projeto e discutir as melhores formas.
      li.fragment Desenho protótipos e válido com o cliente.
