- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  img(src="https://vanzolini.org.br/weblog/wp-content/uploads/sites/2/2016/07/analise-negocios.png", alt="")
  p Analise de requisitos <3
