section
  section
    h2 Processo Melhorado:
    h6 Quais são os números desejado:
    p  *Cliente satisfeito com a entrega continua e a cada POC o projeto ser aprovado pelo cliente.
    h6 Sugestão de plano de ação:
    p  *Fazer POC durante o desenvolvimento a cada módulo entregue , para conseguir recolher feedback do cliente.
    p  *Montar um ciclo de entrega e validação. 

  section
    h6 Patrocinadores? Piloto?:
    p  *quando o plano de ação for aplicado vai reflletir na entrega final em uma piloto mais instável.
    p  *O patrocinador é o Product owner , no caso o responsável geral pelo projeto .

  section
    h2 Requisitos Melhorados:
    ul
      li.fragment Marca uma reunião com o cliente.
      li.fragment Conforme for conversando vou desenhando protótipos simples e exemplos do que ele está falando.
      li.fragment Levanto gastos, prazos, mão de obra necessária.
      li.fragment Marco uma reunião com a minha equipe para passar o projeto e discutir as melhores formas.
      li.fragment Desenho protótipos e válido com o cliente.
      li.fragment Após validação, começa o desenho do projeto e formula todos os diagramas e processos.
      
  section
    h2 Continuação
    ul
      li.fragment Inicia o desenvolvimento do módulo.
      li.fragment Finaliza e faz a poc com o cliente.
      li.fragment Aprovada ? Continua o desenvolvimento.
      li.fragment A cada ciclo de desenvolvimento válido com o cliente.
