- var notes = 'You can enter anything you want here. Just add data-notes to the section.'

section(data-notes=notes)
  p.
    Jhones da Silva Gonçalves - <span class='red' >Web Developer</span>
  p
   a(href='https://www.linkedin.com/in/jhonesgoncalves/') LinkedIn - 
   a(href='https://github.com/jhonesgoncal') GitHub -
   a(href='https://twitter.com/JhonesGonalves2') Twitter 

  
